fastapi 
uvicorn 
pydantic 
python-multipart 

asyncpg==0.30.0 
psycopg2-binary 
sqlalchemy 

pinecone-client 
pinecone

langchain 
langchain-community
langchain-huggingface 
langchain-google-genai
google-generativeai
sentence-transformers 

langgraph 

pymupdf==1.24.13 
python-docx 
unstructured 

aiofiles 
httpx

numpy 
pandas 
python-dotenv 
PyYAML 
loguru 

pytest 
pytest-asyncio 
black 
isort 
flake8